In [1]:
rawdat <- 
read.csv('data/Speed Dating Data.csv', header = T, stringsAsFactors = F)

In [15]:
head(rawdat[, 1:50])

  iid id gender idg condtn wave round position positin1 order ⋯ imprace
1 1   1  0      1   1      1    10    7        NA        4    ⋯ 2
2 1   1  0      1   1      1    10    7        NA        3    ⋯ 2
3 1   1  0      1   1      1    10    7        NA       10    ⋯ 2
4 1   1  0      1   1      1    10    7        NA        5    ⋯ 2
5 1   1  0      1   1      1    10    7        NA        7    ⋯ 2
6 1   1  0      1   1      1    10    7        NA        6    ⋯ 2
  imprelig from    zipcode income    goal date go_out career career_c
1 4        Chicago 60,521  69,487.00 2    7    1      lawyer NA
2 4        Chicago 60,521  69,487.00 2    7    1      lawyer NA
3 4        Chicago 60,521  69,487.00 2    7    1      lawyer NA
4 4        Chicago 60,521  69,487.00 2    7    1      lawyer NA
5 4        Chicago 60,521  69,487.00 2    7    1      lawyer NA
6 4        Chicago 60,521  69,487.00 2    7    1      lawyer NA

In [16]:
head(rawdat[, 50:70])

  career_c sports tvsports exercise dining museums art hiking gaming clubbing ⋯
1 NA       9      2        8        9      1       1   5      1      5        ⋯
2 NA       9      2        8        9      1       1   5      1      5        ⋯
3 NA       9      2        8        9      1       1   5      1      5        ⋯
4 NA       9      2        8        9      1       1   5      1      5        ⋯
5 NA       9      2        8        9      1       1   5      1      5        ⋯
6 NA       9      2        8        9      1       1   5      1      5        ⋯
  tv theater movies concerts music shopping yoga exphappy expnum attr1_1
1 9  1       10     10       9     8        1    3        2      15
2 9  1       10     10       9     8        1    3        2      15
3 9  1       10     10       9     8        1    3        2      15
4 9  1       10     10       9     8        1    3        2      15
5 9  1       10     10       9     8        1    3        2      15
6 9  1       10     10       9     8        1    3        2      15

In [17]:
head(rawdat[, 70:195])

  attr1_1 sinc1_1 intel1_1 fun1_1 amb1_1 shar1_1 attr4_1 sinc4_1 intel4_1
1 15      20      20       15     15     15      NA      NA      NA
2 15      20      20       15     15     15      NA      NA      NA
3 15      20      20       15     15     15      NA      NA      NA
4 15      20      20       15     15     15      NA      NA      NA
5 15      20      20       15     15     15      NA      NA      NA
6 15      20      20       15     15     15      NA      NA      NA
  fun4_1 ⋯ attr3_3 sinc3_3 intel3_3 fun3_3 amb3_3 attr5_3 sinc5_3 intel5_3
1 NA     ⋯ 5       7       7        7      7      NA      NA      NA
2 NA     ⋯ 5       7       7        7      7      NA      NA      NA
3 NA     ⋯ 5       7       7        7      7      NA      NA      NA
4 NA     ⋯ 5       7       7        7      7      NA      NA      NA
5 NA     ⋯ 5       7       7        7      7      NA      NA      NA
6 NA     ⋯ 5       7       7        7      7      NA      NA      NA
  fun5_3 amb5_3
1 NA     NA
2 NA     NA
3 NA     NA
4 NA     NA
5 NA     NA
6 NA     NA